

   <div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <img src="img/soto-ayam_43.jpeg" alt="Dimas Maulana" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Dimas Maulana Putra</h1>
            <p class="lead">Lecturer | Content Creator</p>
        </div>
    </div>
   </div>