<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Web Server</title>
  </head>
  <body>
    <h3>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </h3>
    <% const nama = 'Dimas maulana'; %>

    <h1>Helllooo worrrlllddd</h1>
    <h2>Halo <%= nama %></h2>
    <h2>Umur saya <%= umur %></h2>
    <p>welcome to my site</p>
    <% if (books.length == 0) { %>
    <p>Data mahasiswa masih kosong</p>
    <% } else { %>
        <h4>Daftar Buku</h4>
        <% books.forEach(book => { %>
        <ul>
            <li><%= book.judul%></li>
            <li><%= book.harga%></li>
            <hr />
        </ul>
        <% }) %> 
    <% } %>
  </body>
</html>
